*.DS_store
*.txt
*.png
*.csv
*.fmu
*.idf
*sqlite.err
*eplusssz.csv
*epluszsz.csv
*.exe
*.mat
*.egg-info
idf-to-fmu-export-prep-darwin
idf-to-fmu-export-prep-linux
Output_EPExport_Slave/
Output_EPExport_Test FMI 1.0 CS/
Output_EPExport_Model/
data/
notes/
weather/
idf/
fmu/
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
application_default_credentials.json
