*.DS_store
*.txt
*.png
*.csv
*.fmu
*.idf
*sqlite.err
*eplusssz.csv
*epluszsz.csv
*.exe
*.mat
*.egg-info
idf-to-fmu-export-prep-darwin
idf-to-fmu-export-prep-linux
Output_EPExport_Slave/
Output_EPExport_Test FMI 1.0 CS/
Output_EPExport_Model/
output/
data/
weather/
idf/
fmu/
notebooks/*
!notebooks/demo_LocalSource.ipynb
!notebooks/demo_GCSDYDSource.ipynb
!notebooks/test_GCSDYD_chicago.ipynb
notes/
!test/idf/v8-9-0/AZ_Phoenix_gasfurnace_crawlspace_IECC_2018_cycles.idf
!test/idf/v9-4-0/heatedbsmt_2story_2300sqft_gasfurnace_AC.idf
!test/idf/v9-4-0/heatedbsmt_1story_2000sqft_gasfurnace_AC.idf
!test/idf/v9-4-0/slab_1story_2000sqft_gasfurnace_AC.idf
!test/fmu/fmu-models/deadband/deadband.fmu
!requirements.txt
!requirements_unfixed.txt
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
application_default_credentials.json
docs/build/
docs/source/generated/
.env
.test.env
docker-compose.yml
build/
dev_docker.sh
