# container default directory structure:
# do not change from default, may break integration
TEST_DIR=${PACKAGE_DIR}/test
IDF_DIR=${TEST_DIR}/idf/v${ENERGYPLUS_INSTALL_VERSION}
FMU_DIR=${TEST_DIR}/fmu/v${ENERGYPLUS_INSTALL_VERSION}
WEATHER_DIR=${TEST_DIR}/weather
OUTPUT_DIR=${TEST_DIR}/output
ARCHIVE_TMY3_DIR=${WEATHER_DIR}/archive_tmy3
ARCHIVE_TMY3_META=${ARCHIVE_TMY3_DIR}/TMY3_StationsMeta.csv
ARCHIVE_TMY3_DATA_DIR=${ARCHIVE_TMY3_DIR}/tmy3_data
EP_TMY3_CACHE_DIR=${WEATHER_DIR}/ep_tmy3_cache
NSRDB_CACHE_DIR=${WEATHER_DIR}/nsrdb
SIMULATION_EPW_DIR=${WEATHER_DIR}/simulation_epw
LOCAL_CACHE_DIR=${TEST_DIR}/data
