[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-ordering = "*"
black = "*"
coverage = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
flake8 = "*"

[packages]
matplotlib = "*"
numpy = "*"
cython = "*"
lxml = "*"
scipy = "*"
eppy = "*"
pandas = ">=1.0.3"
jupyterlab = "*"
setuptools = "*"
plotly = "*"
ipywidgets = "*"
psutil = "*"
attrs = "*"
google-cloud-storage = "*"
pandas-gbq = "*"
tqdm = "*"
BuildingControlsSimulator = {editable = true,path = "."}
numba = "*"
gcsfs = "*"
dask = {extras = ["complete"],version = "*"}
requests = "*"
scikit-learn = "*"
statsmodels = "*"

[requires]
python_version = "3.7"

[scripts]
jupyter_lab_bkgrnd = "${PACKAGE_DIR:?}/scripts/setup/jupyter_lab_bkgrnd.sh"
