google-cloud-bigquery
jupyterlab>=3
pytest
pytest-ordering
pytest-profiling
black
coverage
sphinx
sphinx-rtd-theme
flake8
setuptools
pandas
matplotlib
numpy
cython
lxml
scipy
eppy
plotly
ipywidgets>=7.6
psutil
attrs
google-cloud-storage
pandas-gbq
tqdm
numba
gcsfs
requests
scikit-learn
statsmodels
timezonefinder
numexpr
bottleneck
casadi
h5pyd==0.8.0
