adal==1.2.7
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.8.0
black==22.1.0
bleach==4.1.0
Bottleneck==1.3.4
cachetools==5.0.0
casadi==3.5.5
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
coverage==6.3.2
cryptography==36.0.1
cycler==0.11.0
Cython==0.29.28
db-dtypes==0.3.1
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
docutils==0.17.1
entrypoints==0.4
eppy==0.5.57
executing==0.8.3
flake8==4.0.1
fonttools==4.30.0
frozenlist==1.3.0
fsspec==2022.2.0
future==0.18.2
gcsfs==2022.2.0
google-api-core==2.7.1
google-api-python-client==2.40.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.0
google-cloud-bigquery==2.34.2
google-cloud-bigquery-storage==2.13.0
google-cloud-core==2.2.3
google-cloud-storage==2.2.0
google-crc32c==1.3.0
google-resumable-media==2.3.2
googleapis-common-protos==1.55.0
gprof2dot==2021.2.21
grpcio==1.44.0
grpcio-status==1.44.0
h5pyd==0.8.0
httplib2==0.20.4
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.3
importlib-resources==5.4.0
iniconfig==1.1.1
ipykernel==6.9.2
ipython==8.1.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isodate==0.6.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.2.0
json5==0.9.6
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyter-server==1.15.4
jupyterlab==3.3.2
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
kiwisolver==1.4.0
llvmlite==0.38.0
lxml==4.8.0
MarkupSafe==2.1.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
msrest==0.6.21
msrestazure==0.6.4
multidict==6.0.2
munch==2.5.0
mypy-extensions==0.4.3
nbclassic==0.3.6
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.2.0
nest-asyncio==1.5.4
notebook==6.4.9
notebook-shim==0.1.0
numba==0.55.1
numexpr==2.8.1
numpy==1.21.5
oauthlib==3.2.0
packaging==21.3
pandas==1.4.1
pandas-gbq==0.17.4
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.1
plotly==5.6.0
pluggy==1.0.0
prometheus-client==0.13.1
prompt-toolkit==3.0.28
proto-plus==1.20.3
protobuf==3.19.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pydata-google-auth==1.4.0
pydot3k==1.0.17
pyflakes==2.4.0
Pygments==2.11.2
PyJWT==2.3.0
pyparsing==3.0.7
pyrsistent==0.18.1
pytest==7.1.0
pytest-ordering==0.6
pytest-profiling==1.7.0
python-dateutil==2.8.2
pytz==2021.3
pyzmq==22.3.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.0.2
scipy==1.8.0
Send2Trash==1.8.0
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==2.3.1
Sphinx==4.4.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.2.0
statsmodels==0.13.2
tenacity==8.0.1
terminado==0.13.3
testpath==0.6.0
threadpoolctl==3.1.0
timezonefinder==5.2.0
tinynumpy==1.2.1
tomli==2.0.1
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
typing_extensions==4.1.1
uritemplate==4.1.1
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.1
widgetsnbextension==3.5.2
yarl==1.7.2
zipp==3.7.0
